@use "../../variables";
.searchbar {
    position: relative;
}

input {
    border: none;
    border-radius: 5px;
    height: 2rem;
    width: 25rem;
    background-color: #606060;
    box-shadow: inset 0 1px 5px hsla(0, 0%, 0%, 25%);
    padding-left: 2.5rem;
    font-family: variables.$main-font;
    color: #fff;
    font-size: 0.875rem;
    &:focus {
        outline: none;
    }
}

img[alt="Lupe"] {
    position: absolute;
    left: 0.8rem;
    top: 0.6rem;
}