.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr;
  margin-inline: 3.125rem;
  gap: 1.25rem;
  margin-top: 2rem;

  @media only screen and (max-width: 1000px) {
    display: block;
  }
  @media only screen and (max-width: 500px) {
    margin-inline: 1rem;
  }
}
