@use "../../variables";

.trending {
  grid-column: 1 / span 3;
  width: 100%;
  height: fit-content;
  background-color: variables.$main-bg-color;
  border-radius: 5px;
  box-shadow: 0 4px 25px hsla(0 0% 0% / 0.25);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: variables.$sec-font-color;
  h1 {
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
}
